# TASK 1

## REGISTRATION ID - SIRSS2148

### NAME : SEERAM HARI PALLAVI

## Write code in python to print following patterns:-

QUESTION 1: 

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [1]:
"""
    DESCRIPTION: TO PRINT THE VALUE 5 IN THE PATTERN OF LEFT UPPER TRIANGLE
"""

for i in range(5):
    print("5 "*(5-i))

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

QUESTION 2:

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [2]:
"""
    DESCRIPTION: TO PRINT THE ROW INDEX IN THE PATTERN OF LEFT UPPER TRIANGLE
"""

for i in range (5):
    for j in range(5-i+1):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

QUESTION 3:

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [3]:
"""
    DESCRIPTION: TO PRINT A LEFT LOWER TRIANGLE OF THE ODD NUMBERS WITH RESPECT TO EACH ROW IN INCREASING ORDER.
"""

j=1
for i in range(1,10,2):
    print((str(i)+' ')*j)
    j+=1

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

QUESTION 4:

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [4]:
"""
    DESCRIPTION: 
    -> TO PRINT A LEFT LOWER TRIANGLE WHERE 
    -> THE NUMBER OF ELEMENTS IN EACH ROW ARE EQUAL TO THE INDEX OF THAT ROW 
    -> AND THE VALUES IN A ROW ARE ARRANGED IN DESCENDING ORDER OF THE RANGE [1,INDEX OF ROW]
"""
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

QUESTION 5:

1
3 2
6 5 4
10 9 8 7

In [5]:
"""
    DESCRIPTION: 
    -> TO PRINT THE LEFT LOWER TRIANGLE OF THE NUMBERS IN RANGE [1,10] WHERE 
    -> THE NUMBER OF ELEMENTS IN EACH ROW IS EQUAL TO THE INDEX NUMBER OF THE ROW 
    -> AND THE ELEMENTS ARE ARRANGED IN DESCENDING ORDER FROM LEFT TO RIGHT.
    
"""
k=0
for i in range(4):
    k+=i+1
    for j in range(k,k-i-1,-1):
        print(j,end=' ')
    print()

1
3 2
6 5 4
10 9 8 7

QUESTION 6: 

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [6]:
"""
    DESCRIPTION: THIS PATTERN IS ALSO KNOWN AS " PASCAL TRIANGLE ".
    -> TO PRINT A LEFT LOWER TRIANGLE SUCH THAT THE VALUE AT EACH POSITION IS EQUAL TO value of nCr.
    -> nCr= n!/(r! (n-r)!)
    -> n corresponds to row index and r corresponds to column index.
"""

from math import factorial 
for i in range(7):
    for j in range(i+1):
        print((factorial(i))//((factorial(j))*(factorial(i-j))),end=' ')
    
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

QUESTION 7:

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [7]:
"""
    DESCRIPTION: 
    -> TO PRINT A MATRIX
    -> WHERE THE VALUE IS EQUAL TO ROW INDEX WHEN, ROW INDEX > COLUMN INDEX 
    -> VALUE EQUAL TO COULMN INDEX IN REST OF THE CASES.
"""

for i in range(1,6):
    for j in range(1,6):
        if i > j:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

QUESTION 8:

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [8]:
"""
    DESCRIPTION: 
    -> TO PRINT A LEFT LOWER TRIANGLE 
    -> WHERE EACH ROW HAS THE VALUES OF ROW INDEX MULTIPLIED BY COLUMN INDEX
""" 

for i in range(1,9):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

QUESTION 9:

      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [9]:


k=6
for j in range(6,0,-1):
        print(' '*k+'* '*j)
        k+=1

      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

QUESTION 10:

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *

In [10]:
"""
    DESCRIPTION: TO PRINT A INVERTED TRIANGLE WITH "*".
""" 

k=9
for j in range(1,8):
        print(' '*k+'* '*j)
        k-=1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *

QUESTION 11:

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
"""
    DESCRIPTION: TO PRINT ALEFT LOWER TRIANGLE AND LEFT UPPER TRIANGE ARRGANGED AT TOP AND BOTTOM RESPECTIVELY, WITH "*".
"""  

for j in range(1,7):
        print('* '*j)
print()
for j in range(6,0,-1):
        print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

QUESTION 12:

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
"""
    DESCRIPTION: TO PRINT A RIGHT POINTING TRIANGLE WITH "*".
"""  

for j in range(1,5):
        print('* '*j)
for j in range(5,0,-1):
        print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

QUESTION 13:

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [13]:
"""
    DESCRIPTION: TO PRINT A LEFT POINTING TRIANGLE WITH "*".
""" 

k=8
for j in range(1,5):
        print(' '*k+'* '*j)
        k-=2
for j in range(5,0,-1):
        print(' '*k+'* '*j)
        k+=2

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

QUESTION 14:

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [14]:
"""
    DESCRIPTION: TO PRINT TWO TRIANGLES WITH "*", POINTING EACH OTHER VERTICALLY.
""" 

k=0
for i in range(5,0,-1):
    print(' '*k+'* '*i)
    k+=1
for i in range(1,6):
    print(' '*(k-1)+'* '*i)
    k-=1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

QUESTION 15:

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [15]:
"""
    DESCRIPTION: TO PRINT TWO TRIANGLES WITH "*", AS THE PATTERN GIVEN.
"""  

k=0

for i in range (8,0,-1):
    print('*'*i+'_'*k+'*'*i)
    k=k+2

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*